* {
  margin: 0%;
  padding: 0%;
}
.news-img {
  width: 300px;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, auto));

  margin: 20px;
}
.news-module {
  width: 300px;
}
.title {
  font-weight: bold;
  margin: 5px 0px;
}
